<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Blog Ninja</h1></a>
        <p>A Net Ninja Site</p>
      </div>
    </nav>

    <div class="not-found content">OOPS, page not found :)</div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
